<template name="Change_Profile">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h4 class="page-header">Change Profile</h4>
      <form class="change-profile">
        <div class="form-group">
          <label class="control-label">Full Name</label>
          <input
            type="text"
            name="name"
            placeholder="Full Name"
            class="form-control"
            value="{{ name }}"
            required
          />
        </div>
        <div class="form-group">
          <label class="control-label">E-mail Address</label>
          <input
            type="email"
            name="email"
            placeholder="E-mail Address"
            class="form-control"
            value="{{ email }}"
            required
          />
        </div>
        <div class="form-group">
          <label class="control-label">Bio</label>
          <textarea
            name="bio"
            class="form-control">
          </textarea>
        </div>
        <div class="form-group">
          <label class="control-label">Profile Picture</label>
          <input type="file" class="profile-picture" />
        </div>
        <div class="form-group">
          <button
            type="submit"
            class="btn btn-success btn-block">
            Change Profile
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
