<template name="Add_Post">
  <form>
    <div class="form-group">
      <label class="control-label">Add a Quote:</label>
      <input
        type="text"
        name="quote"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label class="control-label">And/Or a picture:</label>
      <input
        type="file"
        name="picture"
      />
    </div>
    <div class="form-group">
      <button
        type="submit"
        class="btn btn-success btn-block">
        Create Post
      </button>
    </div>
  </form>
  <hr />
</template>
