<template name="addPost">
  <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
  <div class="container">
    <form name="post" class="post" enctype="multipart/form-data">
            <p>Add a Quote:</p>
            <input type="text" name="quote" id="quote" class="form-control" />
            <p>And/Or a picture/video:</p>
            <input type="file" name="picture" id="picture" class="file-upload" />
            <hr>
            <button type="submit" name='submit' id='submit' class="btn btn-lg btn-default btn-block" data-loading-text="Adding Post...">Submit</button>
    </form>
  </div>
</template>