<template name="navbar">
<link href='//fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
<div class="container">
      <!-- Static navbar -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ pathFor route='mainpage' }}">IBSayin' (Beta)</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
          {{#if currentUser}}
            <ul class="nav navbar-nav">
              <li><a href="{{ pathFor route='home' }}">Home</a></li>
              <li><a href="/profile/{{ profileId }}">My Profile</a></li>
              <!--<li><a href="{{ pathFor route='chat' }}">Chat</a></li>-->
              <li><a href="{{ pathFor route='settings' }}">Settings</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <!--<li><a href="{{ pathFor route='forum' }}">Forum</a></li>-->
              <li><a href="{{ pathFor route='reportbug' }}">Report a Bug</a></li>
              <li><a href="#" id="logout">Logout</a></li>
              <!--<li><a href="{{ pathFor route='get-app' }}">Get the App</a></li>-->
            </ul>
          {{else}}
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{{ pathFor route='signup' }}">Signup</a></li>
		          <li><a href="{{ pathFor route='login' }}">Log In</a></li>
              <!--<li><a href="{{ pathFor route='get-app' }}">Get the App</a></li>-->
            </ul>
          {{/if}}
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
  </div>
</template>