<template name="recoverPassword">
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    {{ > navbar }} 
    <div class="container">
        <form class="recover-password">
            <div class="form-group">
                <p>Email Address</p>
                <input type="email" name="email" id="email" class="form-control" placeholder="email@example.com" required />
                <p class="form-helper">Please enter the email address associated with your account. You will recieve an email with instructions on how to reset your password.</p>
            </div>
            <hr>
            <div class="form-group">
                <button type="submit" name="submit" id="submit" class="btn btn-success btn-block">Recover Password</button>
            </div>
        </form>
    </div>
    {{ > footer }} 
</template>