<template name="reportbug">
    {{ > navbar }}
    <div class="container">
        <h1>Report a Bug</h1>
        <hr>
        <form class="report-bug">
            <div class="form-group">
                <p class="form-text">Describe the bug you see here.</p>
                <textarea name="bugDescription" id="bugDescription" class="form-control" rows="7"></textarea>
            </div>
            <div class="form-group">
                <p class="form-text">Which page is it on?</p>
                <input type="text" name="page" id="page" class="form-control" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-default btn-block">Submit</button>
            </div>
        </form>
    </div>
    {{ > footer }}
</template>