<template name="resetpassword">
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    {{ > navbar }}
    <div class="container">
        <form name="resetpassword" class="resetpassword">
            <div class="form-group">
                <p>New Password</p>
                <input type="password" name="newPassword" id="newPassword" placeholder="******" class="form-control" />
            </div>
            <div class="form-group">
                <p>Confirm New Password</p>
                <input type="password" name="confirmNewPassword" id="confirmNewPassword" placeholder="******" class="form-control" />
            </div>
            <hr>
            <div class="form-group">
                <button class="btn btn-success btn-block" name="submit" id="submit">Reset Password</button>
            </div>
        </form>
    </div>
    {{ > footer }} 
</template>