<template name="settings">
    {{ > navbar }}
  <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
 
  <div class="container">
    <form name="settings">
        <h1>Settings</h1>
        <hr>
        <h3>Basic Info</h3>
        <div class="form-group">
            <p class="form-text">Name</p>
            <input type="text" name="name" id="name" class="form-control"/>
        </div>
        <div class="form-group">
            <p class="form-text">Profile Picture</p>
            <input type="file" id="profilePicture" class="file-upload"/>
        </div>
        <div class="form-group">
            <p class="form-text">Bio</p>
            <textarea name="bio" class="form-control" rows="7"></textarea>
        </div>
        <hr>
          <h3>Change Password</h3>
          <div class="form-group">
              <p class="form-text">Old Password</p>
              <input type="password" name="oldPassword" class="form-control"/>
          </div>
          <div class="form-group">
              <p class="form-text">New Password</p>
              <input type="password" name="newPassword" class="form-control"/>
          </div>
          <div class="form-group">
              <p class="form-text">Confirm New Password</p>
              <input type="password" name="confirmNewPassword" class="form-control"/>
          </div>
        <hr>
        <div class="form-group">
            <button type="submit" name="submit" class="btn btn-lg btn-default btn-block">Submit</button>
        </div>
    </form>
  </div>
  {{ > footer }}
</template>