<template name="Change_Password">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <h4 class="page-header">Change Password</h4>
      <form class="change-password">
        <div class="form-group">
          <label class="control-label">Current Password</label>
          <input
            type="password"
            name="current-password"
            placeholder="Current Password"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label class="control-label">New Password</label>
          <input
            type="password"
            name="new-password"
            placeholder="New Password"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label class="control-label">Confirm New Password</label>
          <input
            type="password"
            name="confirm-new-password"
            placeholder="Confirm New Password"
            class="form-control"
          />
        </div>
        <button
          type="submit"
          class="btn btn-success btn-block">
          Change Password
        </button>
      </form>
    </div>
  </div>
</template>
